/*
Errno::ENOENT: No such file or directory - \\tower

Backtrace:
org/jruby/RubyDir.java:442:in `mkdir'
file:/C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/java/jruby-complete.jar!/META-INF/jruby.home/lib/ruby/1.9/fileutils.rb:247:in `fu_mkdir'
file:/C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/java/jruby-complete.jar!/META-INF/jruby.home/lib/ruby/1.9/fileutils.rb:221:in `mkdir_p'
org/jruby/RubyArray.java:1693:in `reverse_each'
file:/C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/java/jruby-complete.jar!/META-INF/jruby.home/lib/ruby/1.9/fileutils.rb:219:in `mkdir_p'
org/jruby/RubyArray.java:1613:in `each'
file:/C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/java/jruby-complete.jar!/META-INF/jruby.home/lib/ruby/1.9/fileutils.rb:205:in `mkdir_p'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/cache_stores/filesystem.rb:38:in `_store'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/cache_stores/base.rb:51:in `store'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/cache_stores/chain.rb:19:in `store'
org/jruby/RubyArray.java:1613:in `each'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/cache_stores/chain.rb:19:in `store'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/engine.rb:404:in `_to_tree'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/engine.rb:268:in `render'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:136:in `call'
file:/C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/compass-app.jar!/hook/compass_patch.rb:108:in `update_stylesheet'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:294:in `watch'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/compass-1.0.0/lib/compass/sass_compiler.rb:46:in `watch!'
C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/lib/ruby/compass_1.0/compass-1.0.0/lib/compass/commands/watch_project.rb:41:in `perform'
file:/C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/compass-app.jar!/app_watcher.rb:12:in `watch!'
file:/C:/Users/kodes/Downloads/compass.app.windows.v1.28.1/compass.app/compass-app.jar!/ui/tray.rb:447:in `watch'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - \\tower"; }
