/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

#status,#docker{
	text-align: center;
	padding: 50px;
	.indicator {
		display: inline-block;
		vertical-align: top;
		width: 33%;
	}
}
#docker {
	.indicator {
		height: 248px;
		margin-bottom: 50px;
	}
}
#status.mini {
	position: absolute;
	padding: 0;
	right: 10px;
	top:-4px;
	background: none;
}
.dashmodules {
	section {
		display: inline-block;
		vertical-align: top;
		width: 33%;
		&.full {
			width: 100%;
		}
	}
	.system_info {
		li {
		}
		span.greentext {
		}
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/



.table-box { 
	display: table; 
	width: 100%; 
	.disk { display: table-cell; }
}



.spin { float: left; font-size: 18px; margin-right: 18px; padding-top: 8px; }


.col { 
	display: table-cell; 
	vertical-align: top;
}
.col1 { width: 340px; }
.col-table { display: table; width: 100%;  }
.overcol1 { width: 160px; }
.col2 { width: 80px; }
.col2,.col3,.col4,.col5,.col6 { text-align: center; }
.col4,.col5 { width: 46%; padding-bottom: 0; }

.col .space-info { background: #1e1e1e; padding: 1px; float: left; width: 100%; }
.col .space { background: #898989; height: 8px; }
.col .used { background: #636363; border-right: 1px solid #1e1e1e; height: 8px; }

.disk-info.failed, .disk-info.failed .temp, .disk-info.failed .temp span, .disk-info.failed .mini-disk-info span { color: #c92525;}
.disk-info.failed .space { background: #fb9797; }


.table-box {
	.disk {
		
	}

}

.tabs{
	position: relative;
	ul {
		margin: 0; 
		display:table;
		width: 100%;
	
		li {
			display:table-cell;
			list-style: none;
			border-left: 2px solid $headersect;
			a {
				display: inline-block;
				background: $tablight;
			 	padding: 30px 15px;
				font-size: 16px;
				width: 100%;
				text-align: center;
				
			}
			&.active {
				a {
					background: none;
	  				color: $highlight;
				}
			}
		}
	}
} 
/*********************
LINK STYLES
*********************/


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/


/*********************
HEADER STYLES
*********************/

#header {
	display:table;
	width: 100%;
	section {
		display:table-cell;
		vertical-align: top;
	}
	#title {
		display: table-cell!important;
	}
}

.left {
	width: 320px;
	display:table-cell;
	vertical-align: top;
	overflow:hidden; 
	white-space: nowrap;
	@include transition(all 0.2s ease-in-out);
}


/*********************
NAVIGATION STYLES
*********************/


/*********************
PAGE SPECIFIC STYLES
*********************/

/* DASHBOARD */
.section1 {
	padding: 70px 30px;
}
#datadisks {
	display: inline-block;
	vertical-align: top;
	width: 70%;
	text-align: left;
	box-sizing: border-box;
	.datadisks {
		@include bevel( #111310, #131513, $headersect );
		margin: 0 5px;
		min-height: 316px;
	}
}

#docker {
	.options {
		@include bevel( #111310, #131513, $headersect );
		margin: 0;
		min-height: 316px;
	}
	.infotab {
		padding: 30px 40px;
		section {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid #1C1D19;
			position: relative;
			&::after {
				content: '';
				border-bottom: 1px solid #393A35;
				position: absolute;
				width: 100%;
				bottom: -2px;
				left: 0;
			}
			th {
				font-size: 13px;
				color: #5E6159;
				font-weight: 400;
			}
		}
	}
	.resources {
		padding: 0px 40px 0;
		display: none;
		label {
			display: inline-block;
			vertical-align: top;
			line-height: 65px;
			margin-right: 10px;
		}
		&.active {
			display: block;
		}
	}

}

.array_drives {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	.drive_list {
		margin: 0 5px;

	}
}

.bevelbox {
	@include bevel( #111310, #131513, $headersect );
	border: 0 none;
	position: relative;
	display: table;
	width: 100%;
	ul.nav {
		display: table-cell;
		vertical-align: top;
	}
	.box-content {
		display: table-cell;
		vertical-align: top;
		li {
			display: table;
			width: 100%;
		}
		.modified {
			font-size: 12px;
		}
	}

}

.twocol {
	display: table-cell;
	vertical-align: top;
	width: 50%;
	padding: 10px 10px 0;
	text-align: center;
}
.threecol {
	display: table-cell;
	vertical-align: top;
	width: 33.333%;
	padding: 10px 10px 0;
	text-align: center;
}
.fourcol {
	display: table-cell;
	vertical-align: top;
	width: 25%;
	padding: 10px 10px 0;
	text-align: center;
}

.header {
	background: $darker;
	margin-bottom: 10px;
	.fourcol {
		padding: 25px 10px;
	}
}


#docker {
	text-align: left;
	padding-top: 16px;

	h2 {
		span {
			font-size: 14px;
			line-height: 23px;
			vertical-align: top;
			&.running {
				color: $healthy;
			}
			&.stopped {
				color: $alert-red;
			}
		}
	}

}

nav.secondary ul.docker_menu li.active i {
	font-size: 19px;
	&.dockstatus.running {
		color: $highlight!important;		
	}
}

.docker_menu {
	.new_docker {
		background: $highlight2;
		a{
			color: white;
		}
		
	}
	.dockstatus {
		font-size: 19px;
		margin-right: 10px;
		display: inline-block;
	}
	.dockstatus.running {
		color: $healthy;
	}
	.name {
		display: inline-block;
  		font-size: 15px;
  		text-transform: uppercase;
  		line-height: 1.2;
  		vertical-align: middle;
  		span {
				display: block;
				font-size: 10px;
				text-transform: none;
		}
	}
	.dockstatus.stopped {
		color: $alert-red;
	}

}

.docker_list {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: center;
	.inner {
		width: 400px;
		display: inline-block;
		text-align: left;
		text-transform: none;
		vertical-align: middle;
		line-height: 3.2;
		h4 {
			margin: 0;
		}
	}
	.more_recommended {
		text-align: right;
		a {
			color: $highlight2;
			text-decoration: none;
		}
	}
}
.downloading_image { 
	padding: 100px;
	text-align: center;
}

.dockers {
	width: 400px;
	background: $darker;
	margin-bottom: 40px;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid $navbutton;
	position: relative;
	.image_column {
		display: inline-block;
		vertical-align: top;
		width: 120px;
  		text-align: center;
  		padding: 20px 10px;
  		background: $navbutton;
  		height: 205px;
		img {
			width: 70px;
		}
	}

	.dockerinstall {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}

	.author {
			font-size: 10px;
	}
	h4 {
		margin: 0 0 10px;
	}
	.docker_details {
		display: inline-block;
		vertical-align: top;
		width: 278px;
		text-align: left;
		padding: 15px 30px;
	}
	.text_desc {
		text-transform: none;
		font-size: 13px;
		height: 78px;
  		overflow: hidden;
	}
	.supportlink {
		position: absolute;
		bottom: 21px;
		left: 150px;
		text-decoration: none;
		font-size: 12px;
		color: $highlight2;
	}
	.detailslink {
		position: absolute;
		bottom: 21px;
		left: 0px;
		text-decoration: none;
		font-size: 12px;
		width: 120px;
		text-align: center;
		color: $highlight;
	}
}


/******************************************************************
PAGE NAVI STYLES
******************************************************************/


/*********************
SIDEBARS & ASIDES
*********************/

nav.secondary {
	
	
	height: 100%;
	ul {
		margin: 0;
		padding: 0px;
		li {
			line-height: 4.2;
			white-space: nowrap;
			width: 240px;
			overflow: hidden;
			h3 {
				font-weight: 600;
				margin: 0;
				font-size: 16px;
				padding: 6px 20px;
			}
			a {
				text-decoration: none;
				text-transform: none;
				display: block;
				padding: 6px 30px;
				font-weight: 400;
				font-size: 13px;
				color: $light-text;
			}
			&.active {
				& > a {
					background: $highlight;
					border-top: 1px solid $subhighlight;
					border-bottom: 1px solid $subhighlight;
					color: $white;
				}
				ul {
					margin: 10px 0;
				}
				li {
					padding: 0 0 0 10px;
					a {
						line-height: 2;
					}
				}
				.highlight > a {
					color: $highlight;
				}
				i {
						font-size: 12px;
						margin-right: 10px;
				}

			}

		}
	}
}

.content-with-submenu {
	background: $inputbg;
	display: table;
	width: 100%;
	.submenu {
		display: table-cell;
		vertical-align: top;
		width: 240px;
		border-top: 1px solid #51544C;
		.br {
				border-top:1px solid #fff;
		}
	}
	.rightcontent {
		display: table-cell;
		vertical-align: top;
	}
}


/*********************
FOOTER STYLES
*********************/

/*********************
FORM STYLES
*********************/

fieldset {
	//@include bevel( #111310, #131513, $headersect );
	border: 0 none;
	position: relative;
	padding: 25px;
	ul {

	}
	legend {

	}
}
