/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	max-width: 1400px;
	margin: 0 auto;
}

/*********************
LAYOUT & GRID STYLES
*********************/


/*********************
LINK STYLES
*********************/


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/


/*********************
HEADER STYLES
*********************/


/*********************
NAVIGATION STYLES
*********************/


/*********************
PAGE SPECIFIC STYLES
*********************/


/******************************************************************
PAGE NAVI STYLES
******************************************************************/


/*********************
SIDEBARS & ASIDES
*********************/


/*********************
FOOTER STYLES
*********************/